@import "variables";

body {
  color: $base0;
  font-family: 'afta', sans-serif;
  font-size: 24px;
  line-height: 1.5em;
}

a {
  color: $base2;
  text-decoration: none;
  border-bottom: 2px solid;
  &:hover {
    color: $orange;
  }
}

strong {
  color: $green;
}

::selection {
  background: rgba(black, .1);
  color: $base03;
}

.flow + .flow {
  margin-top: 1em;
}

.pad {
  padding: 1em;
}

.view {
  border-top: 3px solid rgba(black, .2);
  box-shadow: rgba(black, .2) 0 10px 20px inset;
}

.logos-sprite {
  max-width: 100%;
  padding: 1em 0;
}

.text-center {
  text-align: center;
}

.full-pane {
  flex-direction: column;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
}

h1 {
  font-family: 'menlo', monospace;
  font-size: 40px;
  line-height: 2em;
  color: $base01;
  text-shadow: white 0 1px 0, rgba($base02, .3) 0 2px 0;
}

// imports
@import "nav-bar";
@import "button";
