@import "variables";

body {
  color: $base0;
  font-family: 'afta', sans-serif;
  font-size: 24px;
  line-height: 1.5em;
}

a {
  color: $base2;
  text-decoration: none;
  border-bottom: 2px solid;
  &:hover {
    color: $orange;
  }
}

strong {
  color: $green;
}

::selection {
  background: rgba(black, .1);
  color: $base03;
}

.flow + .flow {
  margin-top: 1em;
}

.pad {
  padding: 1em;
}

.logos-sprite {
  max-width: 100%;
  padding: 1em 0;
}

.text-center {
  text-align: center;
}

.full-pane {
  flex-direction: column;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
}

h1 {
  font-family: 'menlo', monospace;
  font-size: 40px;
  line-height: 2em;
  color: $base01;
  text-shadow: white 0 1px 0, rgba($base02, .3) 0 2px 0;
}

.github-status {
  margin-top: 20px;
}

// imports
@import "nav-bar";
@import "button";

.actions {
  margin-top: 2em;
  margin-bottom: 2em;
  .btn {
    margin-bottom: 1em;
  }
}

.videogular-container {
  width: 100%;
  height: 320px;
  margin: auto;
  overflow: hidden;
  box-shadow: rgba(black, .6) 0 7px 25px;
}

@media (min-width: 1200px) {
  .videogular-container {
    width: 1170px;
    height: 658.125px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .videogular-container {
    width: 940px;
    height: 528.75px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .videogular-container {
    width: 728px;
    height: 409.5px;
  }
}
