<header class="main-header pad flow">
  <img src="https://raw.githubusercontent.com/42Zavattas/generator-bangular/master/logos/logos-sprite.png"/>
</header>

<div class="view pad">
  <span class="prompt">$></span> welcome to <strong>generator-bangular</strong> official website.<br/>
  <span class="prompt">$></span> this is a link to <a target="_blank" href="http://github.com/42Zavattas/generator-bangular">github</a>.<br/>
  <span class="prompt">$></span> this is a link to <a target="_blank" href="http://demo.bangular.io">demo</a>.<br/>
  <span class="prompt">$></span> <span class="blink">_</span>
</div>
