<div>
  <div class="pad text-center">
    <img class="logos-sprite" src="https://raw.githubusercontent.com/42Zavattas/generator-bangular/master/logos/logos-sprite.png"/>
    <h1>generator-bangular</h1>
    <h2>Ultra fast fullstack angular generator.</h2>
    <div class="actions">
      <a class="btn btn-slice"
         target="_blank"
         href="https://github.com/42Zavattas/generator-bangular">
        Source code
      </a>
      <a class="btn btn-slice"
         target="_blank" href="http://demo.bangular.io">
        Demo
      </a>
    </div>
  </div>
</div>
